DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Channel de bienvenue (message auto + ping)
CHANNEL_WELCOME=

# Channels à mentionner dans le welcome
CHANNEL_RULES=
CHANNEL_ROLES=

# Rôle admin pour les commandes protégées
DISCORD_ADMIN_ROLE_ID=

# Image bannière pour le message de bienvenue (optionnel)
WELCOME_BANNER_URL=
