DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Channel pour les news (/news update & /news patchnote)
CHANNEL_NEWS=

# Channel pour les leaks (/news leak)
CHANNEL_LEAKS=

# Admin role for /news leak
DISCORD_ADMIN_ROLE_ID=
